@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    position:  absolute;
         transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

body{
    height: 100vh;
    background: linear-gradient(#01191a 20%, #160000 90%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #000;
    height: calc(15vmin * 5);
    width: calc(15vmin * 4);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 12px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0px 200px rgba(255, 255, 255, 0.2);
}

.container div{
    position: relative;
    height: 100%;
    width: 100%;
}

button{
    width: 100%;
    margin-top: 20px;
    background-color: #000;
    padding: 18px 0px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 5.5vmin;
    border-radius: 10px;
    box-shadow: 0 0px 200px rgba(255, 255, 255, 0.3);
}



.quad-circle-1{
    clip-path: circle(100% at 0 0);
}

.quad-circle-2{
    clip-path: circle(100% at 100% 0);
}
.quad-circle-3{
    clip-path: circle(100% at 100% 100%);
}
.quad-circle-4{
    clip-path: circle(100% at 0 100%);
}

.triangle-1{
    clip-path: polygon(0 0, 0% 100% 100% 0);
}

.triangle-2{
    clip-path: polygon(0 0, 100% 0% 100% 100%);
}

.triangle-3{
    clip-path: polygon(0 100%, 100% 0% 100% 100%);
}

.triangle-4{
    clip-path: polygon(0 0, 0% 100% 100% 100%);
}

.circle{
    border-radius: 50%;
}